<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <h1 class="sidebar-title">Sergio</h1>
    <mat-divider></mat-divider>
    <mat-list role="list">
      <a class="link" routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page">
        <mat-list-item matRipple (click)="drawer.toggle()" role="listitem">
          <div class="list-content-wrapper">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            <span class="text">Home</span>
          </div>
        </mat-list-item>
      </a>
      <a routerLink="favorites" routerLinkActive="active" ariaCurrentWhenActive="page">
        <mat-list-item matRipple (click)="drawer.toggle()" role="listitem">
          <div class="list-content-wrapper">
            <mat-icon aria-hidden="false" aria-label="Favorites icon" fontIcon="favorites"></mat-icon>
            <span class="text">Favorites</span>
          </div>
        </mat-list-item>
      </a>
      <a routerLink="about" routerLinkActive="active" ariaCurrentWhenActive="page">
        <mat-list-item matRipple (click)="drawer.toggle()" role="listitem">
          <div class="list-content-wrapper">
            <mat-icon aria-hidden="false" aria-label="About icon" fontIcon="science"></mat-icon>
            <span class="text">About</span>
          </div>
        </mat-list-item>
      </a>
      <a routerLink="settings" routerLinkActive="active" ariaCurrentWhenActive="page">
        <mat-list-item matRipple (click)="drawer.toggle()" role="listitem">
          <div class="list-content-wrapper">
            <mat-icon aria-hidden="false" aria-label="Settings icon" fontIcon="settings"></mat-icon>
            <span class="text">Settings</span>
          </div>
        </mat-list-item>
      </a>
      <a routerLink="settingsadffsdfsds" routerLinkActive="active" ariaCurrentWhenActive="page">
        <mat-list-item matRipple (click)="drawer.toggle()" role="listitem">
          <div class="list-content-wrapper">
            <mat-icon aria-hidden="false" aria-label="Not found icon" fontIcon="error"></mat-icon>
            <span class="text">Not found</span>
          </div>
        </mat-list-item>
      </a>
    </mat-list>
  </mat-drawer>
  <mat-toolbar>
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <app-header-menu></app-header-menu>
  </mat-toolbar>
  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>