.example-container {
  width: 100vw;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  width: 300px;
}

.example-spacer {
  flex: 1 1 auto;
}

.sidebar-title {
  padding: 1rem 1rem 0 1rem;
}

.list-content-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.list-content-wrapper > .text {
  margin-left: 1rem;
}

a {
  text-decoration: none;
}

.active > .mdc-list-item {
  background-color: #c2185b;
}

.link mat-list-item > span > span {
  display: flex;
  align-items: center;
}
